<!-- main-heading -->
<div class="main-heading">
	<img src="images/logo.svg" alt="BetterSelf Logo">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
				<h1>BetterSelf</h1>
				<p>A Telegram bot to help you reshape your mind through the repetition of certain phrases that you find inspiring and empowering.</p>
				<a href="https://t.me/BetterSelfBot" class="button">
					<img src="images/telegram-logo.svg" alt="Telegram Logo">
					Open in Telegram
				</a>
				<p>Created by <a href="https://twitter.com/palavalli" target="_blank">@palavalli</a></p>
			</div>
		</div>
	</div>
</div>
<!-- /main-heading -->